@page
@model Management_Of_Educational_Cycles.View.Pages.EducationalCycles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationalCycles[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationalCycles[0].Discipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationalCycles[0].Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationalCycles[0].Semester)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EducationalCycles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discipline.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
            <td>
                <a asp-page="./Appoint" asp-route-id="@item.Id">Appoint</a>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
