@page
@model Management_Of_Educational_Cycles.View.Pages.Disciplines.IndexModel

<p>
    <a asp-page="Create">Створити нову дисципліну</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disciplines[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Disciplines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
