@model List<Management_Of_Educational_Cycles.Domain.Models.AcademicGroup>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="/Groups/Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-page="/Groups/Details" asp-route-id="@item.Id">Детально</a> |
                    <a asp-page="/Groups/Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>