@page
@model Management_Of_Educational_Cycles.View.Pages.Teachers.DetailsModel



<h3>Навантаження по викладачу @Model.TeacherDisplayViewModel.TeacherName @Model.TeacherDisplayViewModel.TeacherSurname</h3>

<div>
    <h1 class="col-form-label">Перший семестр</h1>
    <table class="myTable table hover" id="myTable">
        <thead>
            <tr>
                <th>
                    Дисципліна
                </th>
                <th>
                    Група
                </th>
                <th>
                    Кількість лекційних годин
                </th>
                <th>
                    Кількість лабораторних годин
                </th>
                <th>
                    Кількість семінарських годин
                </th>
                <th>
                    Загальна кількість годин
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeacherDisplayViewModel.FirstSemesterDisciplines)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LectureHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaboratorHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeminarHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHours)
                </td>

            </tr>
            }
        </tbody>
    </table>
    <h1 class="col-form-label">Другий семестр</h1>
    <table class="myTable table hover" id="myTable">
        <thead>
            <tr>
                <th>
                    Дисципліна
                </th>
                <th>
                    Група
                </th>
                <th>
                    Кількість лекційних годин
                </th>
                <th>
                    Кількість лабораторних годин
                </th>
                <th>
                    Кількість семінарських годин
                </th>
                <th>
                    Загальна кількість годин
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeacherDisplayViewModel.SecondSemesterDisciplines)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LectureHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaboratorHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeminarHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHours)
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    
    <a asp-page="./Index">Повернутися до списку</a>
</div>
