@page
@model Management_Of_Educational_Cycles.View.Pages.Teachers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@*<div>
    <table class="myTable table hover" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TeachersFilter.Teachers[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeachersFilter.Teachers[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeachersFilter.Teachers[0].Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeachersFilter.Teachers[0].Department.Faculty)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeachersFilter.Teachers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Faculty.Name)
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Teacher.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
