@page
@model Management_Of_Educational_Cycles.View.Pages.Teachers.IndexModel

@{
    ViewData["Title"] = "Index";
}
<title>Paginatejs | Ligne</title>
<link rel="stylesheet" href="~/css/paginate.css">
<link rel="stylesheet" href="~/css/">
<script type="text/javascript" src="~/js/paginate.js"></script>

<style>
    * {
        font-family: sans-serif;
    }
</style>
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.TeachersFilter.TeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TeachersFilter.TeacherName,
              new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TeachersFilter.TeacherSurname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TeachersFilter.TeacherSurname,
              new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>
    <div class="form-group">
        @if (Model.TeachersFilter.Faculties == null)
        {
            Model.TeachersFilter.Faculties = new List<SelectListItem>();
        }
        @Html.LabelFor(x => Model.TeachersFilter.SelectedFaculty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownListFor(x => Model.TeachersFilter.SelectedFaculty,
              new SelectList(Model.TeachersFilter.Faculties, "Value", "Text"),
              htmlAttributes: new { @class = "form-control", id = "Faculty" })

        </div>
        <div class="form-group">
            @if (Model.TeachersFilter.Departments == null)
            {
                Model.TeachersFilter.Departments = new List<SelectListItem>();
            }

            <div class="col-md-5">
                @Html.DropDownListFor(x => Model.TeachersFilter.SelectedDepartment,
                  new SelectList(Model.TeachersFilter.Departments, "Value", "Text"),
                  htmlAttributes: new { @class = "form-control", @id = "Department" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Find" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div class="container">
  
    <div class="panel">
        <div class="body">
            <div class="input-group">
                <input type="search" id="searchBox" placeholder="Filtrar..." hidden="hidden">
            </div>
        </div>
    </div>
    <table class="myTable table hover" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TeachersFilter.Teachers[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeachersFilter.Teachers[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeachersFilter.Teachers[0].Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeachersFilter.Teachers[0].Department.Faculty)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeachersFilter.Teachers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Faculty.Name)
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    @*<script>
        let options = {
            numberPerPage: 5, //Cantidad de datos por pagina
            goBar: true, //Barra donde puedes digitar el numero de la pagina al que quiere ir
            pageCounter: true, //Contador de paginas, en cual estas, de cuantas paginas
        };

        let filterOptions = {
            el: '#searchBox' //Caja de texto para filtrar, puede ser una clase o un ID
        };

        paginate.init(".myTable", options, filterOptions);</script>*@
